//! **************************************************************************
// Written by: Map P.20131013 on Fri May 01 19:11:25 2020
//! **************************************************************************

SCHEMATIC START;
NET "CLK_BUFGP/IBUFG" BEL "CLK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

